/* .slick-dots {
    position: absolute !important;
    bottom: 10px !important;
  }
  .slick-dots li button::before {
    content: "" !important;
    border: 2px solid #fb2e86 !important;
    transform: rotate(45deg) !important;
    display: inline-block !important;
    width: 10px !important;
    height: 10px !important;
    transition: background 0.3s !important;
  }
  
  .slick-dots li.slick-active button::before {
    background: #fb2e86 !important;
    border: none !important;
  }
   */